<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JudgeLoginServlet</servlet-name>
    <servlet-class>servlet.JudgeLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetRunTestSevelet</servlet-name>
    <servlet-class>servlet.GetRunTestSevelet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetParsePacketServlet</servlet-name>
    <servlet-class>servlet.GetParsePacketServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>servlet.AddUserServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/servlet/AddUserServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>JudgeLoginServlet</servlet-name>
    <url-pattern>/servlet/JudgeLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRunTestSevelet</servlet-name>
    <url-pattern>/servlet/GetRunTestSevelet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetParsePacketServlet</servlet-name>
    <url-pattern>/servlet/GetParsePacketServlet</url-pattern>
  </servlet-mapping>

</web-app>