.style1{
width:150px;
letter-spacing:1px;
margin-left:200px;
}
.style2{
width:60px;
margin-left:200px;
}
.style3{
width:60px;
margin-right:150px;
}
#main{
width:560px;
margin-left:auto;
margin-right:auto;
margin-top:50px;
text-align:center;
}
.bgcolor{
background:#7FFFD4;
}